<section class='user'>
  <h2>Your account</h2>
  <%= render 'user', user: current_user %>
  <div class='actions'>
    <%= link_to "Edit Account", edit_user_path(current_user), class: 'button edit'%>
    <%= link_to "Cange Password", edit_user_registration_path, class: 'button password'%>
  </div>
</section>
